{% extends 'base.html' %}

{% block head %}
<title>HOME</title>
{% endblock %}

{% block body %}
    <form method="POST" action="/">
    <table>
    <tr>
        <td><input type="text" name="msg"></td>
        <td><input type="submit" name="submit"></td>
    </tr>
    <tr>
        <td><h1>{{ data }}</h1></td>
    </tr>
    <tr>
        <td><h2>{{ data }}</h1></td>
    </tr>
    <tr>
        <td><h3>{{ data }}</h1></td>
    </tr>
    <tr>
        <td><h4>{{ data }}</h1></td>
    </tr>
    <tr>
        <td><h5>{{ data }}</h1></td>
    </tr>
    <tr>
        <td><h6>{{ data }}</h1></td>
    </tr>
    </table>
</form>
{% endblock %}